// Colors
$color-text: #111;
$color-primary: #2196f3;
$color-links: $color-primary;
$color-background: #fbfaf9;

// Fonts
$font-primary: 'Karla', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
